{% extends 'layouts/base.html' %}
{% load i18n static log %}

{% block content %}

  <div class="row mt-4 d-none">
    <div class="col-12 mb-4">
      <div class="card bg-yellow-100 border-0 shadow">
        <div class="card-header d-sm-flex flex-row align-items-center flex-0">
          <div class="d-block mb-3 mb-sm-0">
            <div class="fs-5 fw-normal mb-2">Requests Count</div>
            <h2 class="fs-3 fw-extrabold">10,567</h2>
            <div class="small mt-2">
              <span class="fw-normal me-2">Yesterday</span>
              <span class="fas fa-angle-up text-success"></span>
              <span class="text-success fw-bold">10.57%</span>
            </div>
          </div>
        </div>
        <div class="card-body p-2">
          <div class="ct-chart-sales-value ct-double-octave ct-series-g"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4 ">
    <div class="col-12 col-sm-6 col-xl-4 mb-4">
      <div class="card border-0 shadow">
        <div class="card-body">
          <div class="row d-block d-xl-flex align-items-center">
            <div
                    class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
              <div class="icon-shape icon-shape-primary rounded me-4 me-sm-0">
                <svg class="icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path
                          d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z">
                  </path>
                </svg>
              </div>
              <div class="d-sm-none">
                <h2 class="h5">Users</h2>
                <h3 class="fw-extrabold mb-1">{{ total_users }}</h3>
              </div>
            </div>
            <div class="col-12 col-xl-7 px-xl-0">
              <div class="d-none d-sm-block">
                <h2 class="h6 text-gray-400 mb-0"> Users</h2>
                <h3 class="fw-extrabold mb-2">{{ total_users }}00</h3>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-xl-4 mb-4">
      <div class="card border-0 shadow">
        <div class="card-body">
          <div class="row d-block d-xl-flex align-items-center">
            <div
                    class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
              <div class="icon-shape icon-shape-secondary rounded me-4 me-sm-0">
                <svg class="icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                        d="M10 2a4 4 0 00-4 4v1H5a1 1 0 00-.994.89l-1 9A1 1 0 004 18h12a1 1 0 00.994-1.11l-1-9A1 1 0 0015 7h-1V6a4 4 0 00-4-4zm2 5V6a2 2 0 10-4 0v1h4zm-6 3a1 1 0 112 0 1 1 0 01-2 0zm7-1a1 1 0 100 2 1 1 0 000-2z"
                        clip-rule="evenodd"></path>
                </svg>
              </div>
              <div class="d-sm-none">
                <h2 class="fw-extrabold h5">Groups</h2>
                <h3 class="mb-1">{{ total_groups }}00</h3>
              </div>
            </div>
            <div class="col-12 col-xl-7 px-xl-0">
              <div class="d-none d-sm-block">
                <h2 class="h6 text-gray-400 mb-0"> Total Groups</h2>
                <h3 class="fw-extrabold mb-2">{{ total_groups }} 00</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-xl-4 mb-4">
      <div class="card border-0 shadow">
        <div class="card-body">
          <div class="row d-block d-xl-flex align-items-center">
            <div
                    class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
              <div class="icon-shape icon-shape-tertiary rounded me-4 me-sm-0">
                <svg class="icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                        d="M3 3a1 1 0 000 2v8a2 2 0 002 2h2.586l-1.293 1.293a1 1 0 101.414 1.414L10 15.414l2.293 2.293a1 1 0 001.414-1.414L12.414 15H15a2 2 0 002-2V5a1 1 0 100-2H3zm11.707 4.707a1 1 0 00-1.414-1.414L10 9.586 8.707 8.293a1 1 0 00-1.414 0l-2 2a1 1 0 101.414 1.414L8 10.414l1.293 1.293a1 1 0 001.414 0l4-4z"
                        clip-rule="evenodd"></path>
                </svg>
              </div>
              <div class="d-sm-none">
                <h2 class="fw-extrabold h5"> Total Urls</h2>
                <h3 class="mb-1">{{ total_urls }}00</h3>
              </div>
            </div>
            <div class="col-12 col-xl-7 px-xl-0">
              <div class="d-none d-sm-block">
                <h2 class="h6 text-gray-400 mb-0"> Total Urls</h2>
                <h3 class="fw-extrabold mb-2">{{ total_urls }}00</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-xl-8">
      <div class="row">
        <div class="col-12 mb-4">
          <div class="card border-0 shadow">
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col">
                  <h2 class="fs-5 fw-bold mb-0">Page visits</h2>
                </div>

              </div>
            </div>
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                <tr>
                  <th class="border-bottom" scope="col">Page name</th>
                  <th class="border-bottom" scope="col">Page Views</th>
                  <th class="border-bottom" scope="col">Page Value</th>
                  <th class="border-bottom" scope="col">Bounce rate</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <th class="text-gray-900" scope="row">
                    /demo/admin/index.html
                  </th>
                  <td class="fw-bolder text-gray-500">
                    3,225
                  </td>
                  <td class="fw-bolder text-gray-500">
                    $20
                  </td>
                  <td class="fw-bolder text-gray-500">
                    <div class="d-flex">
                      <svg class="icon icon-xs text-danger me-2" fill="currentColor" viewBox="0 0 20 20"
                           xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M5.293 7.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 5.414V17a1 1 0 11-2 0V5.414L6.707 7.707a1 1 0 01-1.414 0z"
                              clip-rule="evenodd"></path>
                      </svg>
                      42,55%
                    </div>
                  </td>
                </tr>
                <tr>
                  <th class="text-gray-900" scope="row">
                    /demo/admin/forms.html
                  </th>
                  <td class="fw-bolder text-gray-500">
                    2,987
                  </td>
                  <td class="fw-bolder text-gray-500">
                    0
                  </td>
                  <td class="fw-bolder text-gray-500">
                    <div class="d-flex">
                      <svg class="icon icon-xs text-success me-2" fill="currentColor" viewBox="0 0 20 20"
                           xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M14.707 12.293a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 111.414-1.414L9 14.586V3a1 1 0 012 0v11.586l2.293-2.293a1 1 0 011.414 0z"
                              clip-rule="evenodd"></path>
                      </svg>
                      43,24%
                    </div>
                  </td>
                </tr>
                <tr>
                  <th class="text-gray-900" scope="row">
                    /demo/admin/util.html
                  </th>
                  <td class="fw-bolder text-gray-500">
                    2,844
                  </td>
                  <td class="fw-bolder text-gray-500">
                    294
                  </td>
                  <td class="fw-bolder text-gray-500">
                    <div class="d-flex">
                      <svg class="icon icon-xs text-success me-2" fill="currentColor" viewBox="0 0 20 20"
                           xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M14.707 12.293a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 111.414-1.414L9 14.586V3a1 1 0 012 0v11.586l2.293-2.293a1 1 0 011.414 0z"
                              clip-rule="evenodd"></path>
                      </svg>
                      32,35%
                    </div>
                  </td>
                </tr>
                <tr>
                  <th class="text-gray-900" scope="row">
                    /demo/admin/validation.html
                  </th>
                  <td class="fw-bolder text-gray-500">
                    2,050
                  </td>
                  <td class="fw-bolder text-gray-500">
                    $147
                  </td>
                  <td class="fw-bolder text-gray-500">
                    <div class="d-flex">
                      <svg class="icon icon-xs text-danger me-2" fill="currentColor" viewBox="0 0 20 20"
                           xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M5.293 7.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 5.414V17a1 1 0 11-2 0V5.414L6.707 7.707a1 1 0 01-1.414 0z"
                              clip-rule="evenodd"></path>
                      </svg>
                      50,87%
                    </div>
                  </td>
                </tr>
                <tr>
                  <th class="text-gray-900" scope="row">
                    /demo/admin/modals.html
                  </th>
                  <td class="fw-bolder text-gray-500">
                    1,483
                  </td>
                  <td class="fw-bolder text-gray-500">
                    $19
                  </td>
                  <td class="fw-bolder text-gray-500">
                    <div class="d-flex">
                      <svg class="icon icon-xs text-success me-2" fill="currentColor" viewBox="0 0 20 20"
                           xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M14.707 12.293a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 111.414-1.414L9 14.586V3a1 1 0 012 0v11.586l2.293-2.293a1 1 0 011.414 0z"
                              clip-rule="evenodd"></path>
                      </svg>
                      26,12%
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-12 col-xxl-6 mb-4">
          <div class="card border-0 shadow">
            <div class="card-header border-bottom d-flex align-items-center justify-content-between">
              <h2 class="fs-5 fw-bold mb-0">Team members</h2>
              <a href="#" class="btn btn-sm btn-primary">See all</a>
            </div>
            <div class="card-body">
              <ul class="list-group list-group-flush list my--3">
                <li class="list-group-item px-0">
                  <div class="row align-items-center">
                    <div class="col-auto">
                      <!-- Avatar -->
                      <a href="#" class="avatar">
                        <img class="rounded" alt="Image placeholder"
                             src="{% static 'assets/img/team/profile-picture-1.jpg' %}">
                      </a>
                    </div>
                    <div class="col-auto ms--2">
                      <h4 class="h6 mb-0">
                        <a href="#">Chris Wood</a>
                      </h4>
                      <div class="d-flex align-items-center">
                        <div class="bg-success dot rounded-circle me-1"></div>
                        <small>Online</small>
                      </div>
                    </div>
                    <div class="col text-end">
                      <a href="#" class="btn btn-sm btn-secondary d-inline-flex align-items-center">
                        <svg class="icon icon-xxs me-2" fill="currentColor" viewBox="0 0 20 20"
                             xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd"
                                d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                                clip-rule="evenodd"></path>
                        </svg>
                        Invite
                      </a>
                    </div>
                  </div>
                </li>
                <li class="list-group-item px-0">
                  <div class="row align-items-center">
                    <div class="col-auto">
                      <!-- Avatar -->
                      <a href="#" class="avatar">
                        <img class="rounded" alt="Image placeholder"
                             src="{% static 'assets/img/team/profile-picture-2.jpg' %}">
                      </a>
                    </div>
                    <div class="col-auto ms--2">
                      <h4 class="h6 mb-0">
                        <a href="#">Jose Leos</a>
                      </h4>
                      <div class="d-flex align-items-center">
                        <div class="bg-warning dot rounded-circle me-1"></div>
                        <small>In a meeting</small>
                      </div>
                    </div>
                    <div class="col text-end">
                      <a href="#" class="btn btn-sm btn-secondary d-inline-flex align-items-center">
                        <svg class="icon icon-xxs me-2" fill="currentColor" viewBox="0 0 20 20"
                             xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd"
                                d="M18 5v8a2 2 0 01-2 2h-5l-5 4v-4H4a2 2 0 01-2-2V5a2 2 0 012-2h12a2 2 0 012 2zM7 8H5v2h2V8zm2 0h2v2H9V8zm6 0h-2v2h2V8z"
                                clip-rule="evenodd"></path>
                        </svg>
                        Message
                      </a>
                    </div>
                  </div>
                </li>
                <li class="list-group-item px-0">
                  <div class="row align-items-center">
                    <div class="col-auto">
                      <!-- Avatar -->
                      <a href="#" class="avatar">
                        <img class="rounded" alt="Image placeholder"
                             src="{% static 'assets/img/team/profile-picture-3.jpg' %}">
                      </a>
                    </div>
                    <div class="col-auto ms--2">
                      <h4 class="h6 mb-0">
                        <a href="#">Bonnie Green</a>
                      </h4>
                      <div class="d-flex align-items-center">
                        <div class="bg-danger dot rounded-circle me-1"></div>
                        <small>Offline</small>
                      </div>
                    </div>
                    <div class="col text-end">
                      <a href="#" class="btn btn-sm btn-secondary d-inline-flex align-items-center">
                        <svg class="icon icon-xxs me-2" fill="currentColor" viewBox="0 0 20 20"
                             xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd"
                                d="M18 5v8a2 2 0 01-2 2h-5l-5 4v-4H4a2 2 0 01-2-2V5a2 2 0 012-2h12a2 2 0 012 2zM7 8H5v2h2V8zm2 0h2v2H9V8zm6 0h-2v2h2V8z"
                                clip-rule="evenodd"></path>
                        </svg>
                        Message
                      </a>
                    </div>
                  </div>
                </li>
                <li class="list-group-item px-0">
                  <div class="row align-items-center">
                    <div class="col-auto">
                      <!-- Avatar -->
                      <a href="#" class="avatar">
                        <img class="rounded" alt="Image placeholder"
                             src="{% static 'assets/img/team/profile-picture-4.jpg' %}">
                      </a>
                    </div>
                    <div class="col-auto ms--2">
                      <h4 class="h6 mb-0">
                        <a href="#">Neil Sims</a>
                      </h4>
                      <div class="d-flex align-items-center">
                        <div class="bg-danger dot rounded-circle me-1"></div>
                        <small>Offline</small>
                      </div>
                    </div>
                    <div class="col text-end">
                      <a href="#" class="btn btn-sm btn-secondary d-inline-flex align-items-center">
                        <svg class="icon icon-xxs me-2" fill="currentColor" viewBox="0 0 20 20"
                             xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd"
                                d="M18 5v8a2 2 0 01-2 2h-5l-5 4v-4H4a2 2 0 01-2-2V5a2 2 0 012-2h12a2 2 0 012 2zM7 8H5v2h2V8zm2 0h2v2H9V8zm6 0h-2v2h2V8z"
                                clip-rule="evenodd"></path>
                        </svg>
                        Message
                      </a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-xl-4">
      <div class="col-12 px-0 mb-4">
        <div class="card border-0 shadow">
          <div class="card-header border-bottom align-items-center">
            <h2 class="fs-5 fw-bold mb-2">{% translate 'Recent actions' %}</h2>
            <label class="fs-5 fw-bold mb-0">{% translate 'My actions' %}</label>
          </div>
          <div class="card-body">
            {% get_admin_log 20 as admin_log for_user user %}
            {% if not admin_log %}
              <p>{% translate 'None available' %}</p>
            {% else %}

              {% for entry in admin_log %}
                <div class="row mb-2">
                  <div class="col-auto">
                    {% if entry.is_addition %}
                      <svg class="icon icon-xs me-2 text-info" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                           xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                      </svg>
                    {% endif %}
                    {% if entry.is_change %}
                      <svg class="icon icon-sm  text-warning" fill="currentColor" viewBox="0 0 20 20"
                           xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z"></path>
                        <path fill-rule="evenodd"
                              d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z"
                              clip-rule="evenodd"></path>
                      </svg>
                    {% endif %}
                    {% if entry.is_deletion %}
                      <svg class="icon icon-xs text-danger" fill="currentColor" viewBox="0 0 20 20"
                           xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                              clip-rule="evenodd"></path>
                      </svg>
                    {% endif %}
                  </div>
                  <div class="col-auto ms--2">
                    <h4 class="h6 mb-0">
                      {% if entry.is_deletion or not entry.get_admin_url %}
                        {{ entry.object_repr }}
                      {% else %}
                        <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                      {% endif %}
                    </h4>
                    <div class="d-flex align-items-center">
                      <small> {% if entry.content_type %}
                        {% filter capfirst %}{{ entry.content_type.name }}{% endfilter %}
                      {% else %}
                        {% translate 'Unknown content' %}
                      {% endif %}</small>
                    </div>
                  </div>

                </div>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}