{% load i18n static %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:" en-us" }}" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr,auto' }}">

<head>
  <title>{% block title %}{% endblock %}</title>

  {% include 'includes/head.html' %}
  {% block extrastyle %}
    {{ block.super }}
  {% endblock extrastyle %}
  {% block extrahead %}{% endblock %}

</head>

{% block nav %}
  {% include 'includes/nav.html' %}
{% endblock nav %}

{% block sidebar %}
  {% include 'includes/sidebar.html' %}
{% endblock sidebar %}

<main class="content">
  {% if messages %}
    <div class="row mt-4 mx-2">
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">{{ message|capfirst }}</div>
      {% endfor %}
    </div>
  {% endif %}
        {% block pretitle %}{% endblock %}

  {% block content %}{% endblock content %}

  {% block footer %}
    {% include 'includes/footer.html' %}
  {% endblock footer %}

</main>

{% include 'includes/scripts.html' %}
{% block extra_js %}{% endblock extra_js %}

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}" data-admin-utc-offset="{% now " Z" %}">